outputdir/*
!outputdir/.gitkeep
Events2/*
!Events2/.gitkeep

Secondary_radiation/figs/*
!Secondary_radiation/figs/.gitkeep
Secondary_radiation/dchi/*
!Secondary_radiation/dchi/.gitkeep
Secondary_radiation/dchi_hists/*
!Secondary_radiation/dchi_hists/.gitkeep
Secondary_radiation/fake_residuals/*
!Secondary_radiation/fake_residuals/.gitkeep
Secondary_radiation/dchi_combined/*
!Secondary_radiation/dchi_combined/.gitkeep
Secondary_radiation/dchi_masks/*
!Secondary_radiation/dchi_masks/.gitkeep
Secondary_radiation/fake_resid_new/*
!Secondary_radiation/fake_resid_new/.gitkeep
Secondary_radiation/dchi_comb_masks/*
!Secondary_radiation/dchi_comb_masks/.gitkeep
Secondary_radiation/dchi_masks_noring/*
!Secondary_radiation/dchi_masks_noring/.gitkeep
Secondary_radiation/stat_pipeline_results/*
!Secondary_radiation/stat_pipeline_results/.gitkeep
Secondary_radiation/equillibrium_distribution/*
!Secondary_radiation/equillibrium_distribution/.gitkeep
Secondary_radiation/equillibrium_distribution_v1/*
!Secondary_radiation/equillibrium_distribution_v1/.gitkeep
Secondary_radiation/synchrotron_emission/*
!Secondary_radiation/synchrotron_emission/.gitkeep
Secondary_radiation/results_compare_rvnr/*
!Secondary_radiation/results_compare_rvnr/.gitkeep
Secondary_radiation/inverse_compton_emission/*
!Secondary_radiation/inverse_compton_emission/.gitkeep

